/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.mkdf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.mkdf-page-header a img {
  display: block;
}

.mkdf-page-header p {
  margin: 0;
}

.mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0 35px;
}

.mkdf-paspartu-enabled .mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-page-header .mkdf-grid {
  height: 100%;
}

.mkdf-page-header .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.mkdf-page-header .mkdf-logo-area {
  position: relative;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
}

.mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 90px;
}

.mkdf-page-header .mkdf-menu-area {
  position: relative;
  height: 95px;
  background-color: #fff;
  box-sizing: border-box;
}

.mkdf-boxed .mkdf-page-header .mkdf-menu-area {
  padding: 0;
}

.mkdf-page-header .mkdf-menu-area .mkdf-logo-wrapper a {
  max-height: 95px;
}

.mkdf-page-header .mkdf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background-color: transparent;
  border: 0;
}

.mkdf-logo-area-border-disable .mkdf-page-header .mkdf-logo-area {
  border: none;
}

.mkdf-logo-area-in-grid-border-disable .mkdf-page-header .mkdf-logo-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-logo-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area {
  box-shadow: none;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  box-shadow: none;
}

.mkdf-menu-area-border-disable .mkdf-page-header .mkdf-menu-area {
  border: none;
}

.mkdf-menu-area-in-grid-border-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 1;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 0;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:not(.mkdf-btn, .mkdf-login-dropdown-link, .mkdf-login-opener),
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span:not(.mkdf-btn-text, .mkdf-prev-icon, .mkdf-next-icon),
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:not(.mkdf-btn, .mkdf-login-dropdown-link, .mkdf-login-opener):hover {
  color: rgba(255, 255, 255, 0.6) !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:not(.mkdf-btn, .mkdf-login-dropdown-link, .mkdf-login-opener),
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span:not(.mkdf-btn-text, .mkdf-prev-icon, .mkdf-next-icon),
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:not(.mkdf-btn, .mkdf-login-dropdown-link, .mkdf-login-opener):hover {
  color: rgba(255, 255, 255, 0.6) !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 1;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 0;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:not(.mkdf-btn, .mkdf-login-dropdown-link, .mkdf-login-opener),
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span:not(.mkdf-btn-text, .mkdf-prev-icon, .mkdf-next-icon),
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:not(.mkdf-btn, .mkdf-login-dropdown-link, .mkdf-login-opener):hover {
  color: rgba(51, 51, 51, 0.6) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:not(.mkdf-btn, .mkdf-login-dropdown-link, .mkdf-login-opener),
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span:not(.mkdf-btn-text, .mkdf-prev-icon, .mkdf-next-icon),
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:not(.mkdf-btn, .mkdf-login-dropdown-link, .mkdf-login-opener):hover {
  color: rgba(51, 51, 51, 0.6) !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.mkdf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.mkdf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.mkdf-logo-wrapper a img.mkdf-normal-logo {
  opacity: 1;
}

.mkdf-logo-wrapper a img.mkdf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.mkdf-logo-wrapper a img.mkdf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.mkdf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.mkdf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mkdf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.mkdf-main-menu ul li a {
  font-size: 16px;
  line-height: 20px;
  color: #8a959e;
}

.mkdf-main-menu ul li a:hover {
  color: #ff3366;
}

.mkdf-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.mkdf-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 5px;
  color: currentColor;
  font-size: 10px;
  margin: 0;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon:before {
  margin: 0;
}

.mkdf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.mkdf-main-menu > ul > li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.mkdf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 23px;
  color: #323a45;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.04em;
  box-sizing: border-box;
  font-weight: 500;
}

.mkdf-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-main-menu > ul > li > a > span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #ff3366;
}

.mkdf-main-menu > ul > li.has_sub > a .mkdf-menu-arrow {
  display: none;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-main-menu > ul > li > a {
  color: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-main-menu > ul > li > a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: rgba(255, 255, 255, 0.6);
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-main-menu > ul > li > a {
  color: #333;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-main-menu > ul > li > a:hover {
  color: #ff3366;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #ff3366;
}

/* Narrow drop down styles
   ========================================================================== */
.mkdf-drop-down .second {
  position: absolute;
  display: block;
  left: 0;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
}

.mkdf-drop-down .second.mkdf-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-drop-down .second.right {
  right: 0;
  left: auto;
}

.mkdf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
}

.mkdf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.mkdf-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.mkdf-drop-down .second .inner ul li .widget .mkdf-widget-title-holder {
  margin: 0 0 24px;
}

.mkdf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 5px 18px;
}

.mkdf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.mkdf-drop-down .second .inner ul li a .item_outer:before {
  content: '\25CF';
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  font-family: 'Ionicons';
  color: inherit;
  font-size: 9px;
  line-height: inherit;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkdf-drop-down .second .inner ul li a .item_outer .item_text {
  padding-left: 15px;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a,
.mkdf-drop-down .second .inner ul li.current-menu-item > a {
  color: #ff3366;
}

.mkdf-drop-down .second .inner ul li.sub > a .item_outer:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  right: 3px;
  content: '\f3d3';
  font-family: 'Ionicons';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer {
  padding: 0 0 0 30px;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer:before {
  content: '\f3d5';
  left: auto;
  right: -20px;
  -webkit-transition: right 0.2s ease-in-out;
  -moz-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer:before {
  content: '\25CF';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  font-family: 'Ionicons';
  color: inherit;
  font-size: 9px;
  line-height: inherit;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer .item_text {
  padding-left: 0;
  padding-right: 15px;
}

.mkdf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer,
.mkdf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer {
  padding: 0 20px 0 10px;
}

.mkdf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer:before,
.mkdf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer:before {
  left: auto;
  right: 0;
}

.mkdf-drop-down .second .inner ul.right li.sub > a .item_outer:after {
  right: auto;
  left: 3px;
  content: "\f3d2";
}

.mkdf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.mkdf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.mkdf-drop-down > ul > li:hover > .second {
  z-index: 20;
  box-shadow: 0 1px 23.83px 0.17px rgba(255, 51, 102, 0.07);
}

.mkdf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 16px 0;
}

.mkdf-drop-down .narrow .second .inner ul li {
  width: 220px;
}

.mkdf-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -15px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.mkdf-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.mkdf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

/* Wide drop down styles
   ========================================================================== */
.mkdf-drop-down .wide.mkdf-menu-2-columns .second .inner > ul {
  width: 610px !important;
  padding: 32px 0 36px;
}

.mkdf-drop-down .wide.mkdf-menu-2-columns .second .inner > ul > li {
  width: 60%;
}

.mkdf-drop-down .wide.mkdf-menu-2-columns .second .inner > ul > li:first-child {
  width: 40%;
}

@media only screen and (max-width: 1280px) {
  .mkdf-drop-down .wide.mkdf-menu-2-columns .second .inner > ul > li {
    width: 60%;
  }
  .mkdf-drop-down .wide.mkdf-menu-2-columns .second .inner > ul > li:first-child {
    width: 40%;
  }
}

.mkdf-drop-down .wide.mkdf-menu-2-columns .second .inner > ul > li > a {
  padding: 2px 0 13px;
}

.mkdf-drop-down .wide .second {
  left: auto;
  right: auto;
}

.mkdf-drop-down .wide .second .inner {
  background-color: #fff;
  text-align: center;
}

.mkdf-drop-down .wide .second .inner ul li a {
  padding: 5px 13px;
}

.mkdf-drop-down .wide .second .inner ul li a.mkdf-ls-item-author-image {
  padding: 0;
}

.mkdf-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.mkdf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.mkdf-drop-down .wide .second .inner > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0 31px 0;
  box-sizing: border-box;
  width: 900px;
}

@media only screen and (min-width: 1400px) {
  .mkdf-grid-1300 .mkdf-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .mkdf-grid-1200 .mkdf-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .mkdf-grid-1000 .mkdf-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .mkdf-grid-800 .mkdf-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.mkdf-drop-down .wide .second .inner > ul > li {
  width: 225px;
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
}

.mkdf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
}

.mkdf-drop-down .wide .second .inner > ul > li > a {
  padding: 0 0 13px;
  color: #323a45;
  font-size: 19px;
  line-height: 1.1em;
  font-weight: 500;
}

.mkdf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:before, .mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:after {
  display: none;
}

.mkdf-drop-down .wide .second .inner > ul > li.current-menu-ancestor > a,
.mkdf-drop-down .wide .second .inner > ul > li.current-menu-item > a {
  color: #323a45;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.mkdf-page-header .mkdf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .mkdf-page-header .mkdf-fixed-wrapper.fixed {
  margin-top: 32px;
}

.mkdf-page-header .mkdf-fixed-wrapper.fixed .mkdf-menu-area {
  background-color: #252b33;
  border-bottom: 1px solid #252b33;
}

.mkdf-fixed-on-scroll .mkdf-page-header .mkdf-fixed-wrapper .mkdf-menu-area {
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  transition: height 0.2s ease;
}

.mkdf-fixed-wrapper.fixed .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: rgba(255, 255, 255, 0.6);
}

.mkdf-fixed-wrapper.fixed .mkdf-main-menu > ul > li > a {
  color: #fff;
}

.mkdf-fixed-wrapper.fixed .mkdf-main-menu > ul > li > a:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/*==========================================================================
# Fullscreen menu style - begin
========================================================================== */
/* Fullscreen general style - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener {
  color: #333;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover, .mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  color: rgba(51, 51, 51, 0.6);
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener {
  color: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover, .mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  color: rgba(255, 255, 255, 0.6);
}

.mkdf-fullscreen-menu-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 20px;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines .mkdf-fm-line {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: -moz-transform 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
  transition: transform 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-1 {
  top: 0;
  outline: transparent solid 1px;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-2 {
  top: calc(50% - 2px);
  outline: transparent solid 1px;
}

.mkdf-fullscreen-menu-opener .mkdf-fm-lines .mkdf-fm-line.mkdf-line-3 {
  top: calc(100% - 4px);
  outline: transparent solid 1px;
}

.mkdf-fullscreen-menu-opener:hover .mkdf-fm-lines .mkdf-fm-line.mkdf-line-1, .mkdf-fullscreen-menu-opener:hover .mkdf-fm-lines .mkdf-fm-line.mkdf-line-3 {
  top: calc(50% - 2px);
}

.mkdf-fullscreen-menu-opener:hover .mkdf-fm-lines .mkdf-fm-line.mkdf-line-2 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  color: #ff3366;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fm-lines .mkdf-fm-line.mkdf-line-1 {
  display: none;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fm-lines .mkdf-fm-line.mkdf-line-2 {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fm-lines .mkdf-fm-line.mkdf-line-3 {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mkdf-fullscreen-menu-opened .mkdf-page-header,
.mkdf-fullscreen-menu-opened .mkdf-top-bar {
  visibility: hidden;
}

.mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-opener,
.mkdf-fullscreen-menu-opened .mkdf-logo-wrapper {
  visibility: visible;
}

.mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-holder-outer {
  visibility: visible !important;
  opacity: 1 !important;
}

.mkdf-fullscreen-menu-holder-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  visibility: hidden;
  opacity: 0;
  z-index: 105;
  /* this has to be between header z-index and content z-index */
}

.mkdf-fullscreen-menu-holder {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: table;
  background-repeat: repeat;
  background-position: 0 0;
}

.mkdf-fullscreen-menu-holder-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 100px 0;
}

.touch .mkdf-fullscreen-menu-holder-outer {
  display: none;
}

.touch .mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-holder-outer {
  display: block;
}

nav.mkdf-fullscreen-menu {
  position: relative;
  top: 0;
  margin: 0 auto;
  text-align: left;
}

nav.mkdf-fullscreen-menu ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.mkdf-fullscreen-menu ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav.mkdf-fullscreen-menu ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 11px 0;
  font-size: 25px;
  line-height: 1.3em;
}

nav.mkdf-fullscreen-menu ul li a span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

nav.mkdf-fullscreen-menu ul li a .mkdf-fullscreen-menu-arrow {
  position: relative;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  font-size: 0.65em;
  line-height: inherit;
}

nav.mkdf-fullscreen-menu ul li ul {
  padding: 7px 0;
}

nav.mkdf-fullscreen-menu ul li ul.sub_menu {
  display: none;
}

nav.mkdf-fullscreen-menu ul li ul li.current-menu-ancestor > a,
nav.mkdf-fullscreen-menu ul li ul li.current-menu-item > a {
  color: #ff3366;
}

nav.mkdf-fullscreen-menu ul li ul li ul li a {
  font-size: 20px;
}

nav.mkdf-fullscreen-menu > ul {
  display: block;
}

nav.mkdf-fullscreen-menu > ul > li > a {
  font-size: 40px;
}

nav.mkdf-fullscreen-menu > ul > li.mkdf-active-item > a {
  color: #ff3366;
}

.mkdf-fullscreen-below-menu-widget-holder {
  text-align: center;
  margin-top: 20px;
}

.mkdf-fullscreen-above-menu-widget-holder {
  text-align: center;
}

/* Fullscreen general style - end
========================================================================== */
/* Fullscreen fade animations general - begin
========================================================================== */
@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer,
.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer,
.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden !important;
  z-index: 105;
  opacity: 0;
}

.mkdf-fullscreen-fade-out .mkdf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_out .25s linear both;
  -moz-animation: fade_out .25s linear both;
  animation: fade_out .25s linear both;
}

.mkdf-fullscreen-menu-opened.mkdf-fullscreen-fade-in .mkdf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_in .25s linear both;
  -moz-animation: fade_in .25s linear both;
  animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */
/* Fullscreen animation push text right - begin
========================================================================== */
@-webkit-keyframes push_text_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_text_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_text_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes push_nav_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_nav_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_nav_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer nav > ul > li > a,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder > div,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  -moz-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
}

.mkdf-fade-push-text-right.mkdf-push-nav-right .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fade-push-text-right.mkdf-push-nav-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fade-push-text-right.mkdf-push-nav-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px);
}

/* Fullscreen animation push text right - end
========================================================================== */
/* Fullscreen animation push text top - begin
========================================================================== */
@-webkit-keyframes push_text_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes push_text_top {
  0% {
    opacity: 0;
    -moz-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes push_text_top {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer nav > ul > li > a,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder > div,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_top 0.4s ease-out both 0.5s;
  -moz-animation: push_text_top 0.4s ease-out both 0.5s;
  animation: push_text_top 0.4s ease-out both 0.5s;
}

.mkdf-fade-push-text-top.mkdf-push-text-top .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fade-push-text-top.mkdf-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fade-push-text-top.mkdf-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

/* Fullscreen animation push text top - end
========================================================================== */
/* Fullscreen animation fade text scaledown - begin
========================================================================== */
.mkdf-fullscreen-menu-opened.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fullscreen-menu-opened.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fullscreen-menu-opened.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  opacity: 0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */
/* ==========================================================================
# Fullscreen menu style - end
==========================================================================*/
/* ==========================================================================
   Header Minimal style - begin
   ========================================================================== */
.mkdf-header-minimal .mkdf-page-header .mkdf-menu-area .mkdf-position-right-inner {
  height: auto;
}

.mkdf-header-minimal .mkdf-page-header .mkdf-position-left:before,
.mkdf-header-minimal .mkdf-page-header .mkdf-position-right:before {
  content: "";
}

.mkdf-header-minimal .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-minimal .mkdf-page-header .mkdf-sticky-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-position-right-inner {
  height: auto;
}

/* ==========================================================================
   Header Minimal style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right-inner .mkdf-login-register-widget.mkdf-user-not-logged-in .mkdf-login-opener {
  top: auto;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.mkdf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
    ========================================================================== */
}

.mkdf-mobile-header .mkdf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e9ebec;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-header-inner .mkdf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.mkdf-mobile-header .mkdf-grid {
  height: 100%;
}

.mkdf-mobile-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper a {
  display: block;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
  padding-left: 10px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener {
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a {
  display: table;
  height: 100%;
  padding-right: 10px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a > * {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a .mkdf-mobile-menu-icon {
  font-size: 16px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a .mkdf-mobile-menu-icon i {
  margin-left: -4px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a .mkdf-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-left: 5px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opened a {
  color: #ff3366;
}

.mkdf-mobile-header .mkdf-mobile-side-area {
  background-color: #fff;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 56px 51px 80px 51px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0px;
  width: 400px;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(400px, 0, 0);
  -moz-transform: translate3d(400px, 0, 0);
  transform: translate3d(400px, 0, 0);
  -webkit-transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
  -moz-transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.25, 1, 0.2, 1);
}

.mkdf-mobile-header .mkdf-mobile-side-area.opened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: 0 1px 23.28px 0.72px rgba(255, 51, 102, 0.07);
}

.mkdf-mobile-header .mkdf-mobile-side-area.opened .mkdf-mobile-nav,
.mkdf-mobile-header .mkdf-mobile-side-area.opened .mkdf-mobile-menu-bottom {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-side-area-inner {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 60px;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area > * {
  box-sizing: border-box;
  float: left;
  height: 60px;
  margin: 0;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  vertical-align: middle;
  color: #8a959e;
  font-size: 24px;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area .mkdf-mobile-widget-area-inner {
  position: relative;
  width: 100%;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-widget-area .mkdf-mobile-widget-area-inner > div {
  display: inline-block;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-close-mobile-side-area-holder {
  display: block;
  position: absolute;
  top: 19px;
  right: 21px;
  z-index: 1000;
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-close-mobile-side-area-holder i {
  color: #ff3366;
  font-size: 22px;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav {
  opacity: 0;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: transform 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s, opacity 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s;
  -moz-transition: transform 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s, opacity 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s;
  transition: transform 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s, opacity 0.45s cubic-bezier(0.2, 0.75, 0.3, 1) 0.22s;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li {
  position: relative;
  font-size: 19px;
  color: #323a45;
  line-height: 1.26em;
  text-transform: none;
  font-weight: 500;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul {
  display: none;
  margin: 3px 0 0px;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li a, .mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li h4 {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  padding: 14px 0;
  margin: 0;
  position: relative;
  text-transform: inherit;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li .mobile_arrow {
  font-size: 13px;
  margin-left: 15px;
  color: #323a45;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li .mobile_arrow:hover {
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li .item_additional_label {
  font-size: 9px;
  margin-left: 5px;
  color: #ff4b4b;
  vertical-align: middle;
  display: inline-block;
  font-weight: 500;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li {
  color: #8a959e;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li.mkdf-extended-item-font-weight {
  color: #292929;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li a, .mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li h4 {
  font-size: 16px;
  color: inherit;
  line-height: 1.26em;
  font-weight: 400;
  padding: 8px 0 8px 15px;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #8a959e;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li a:hover:before {
  background-color: #ff3366;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li.mkdf-opened, .mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li.mkdf-active-item, .mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li.current_page_item, .mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li:hover {
  color: #ff3366;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li.mkdf-opened > a:before, .mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li.current_page_item > a:before, .mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li.mkdf-active-item > a:before, .mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li ul li:hover > a:before {
  background-color: #ff3366;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav ul li.current-menu-parent ul {
  display: block;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav > ul > li > ul > li > ul:after, .mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav > ul > li > ul > li > ul:before {
  content: " ";
  display: table;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav > ul > li > ul > li > ul:after {
  clear: both;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav > ul > li > ul > li > ul > li {
  padding-left: 17px;
  float: left;
  font-size: 14px;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav > ul > li > ul > li > ul > li:nth-child(2n + 1) {
  clear: both;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav > ul > li > ul > li > ul > li .mobile_arrow {
  display: none;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav > ul > li > ul > li > ul > li ul {
  display: block !important;
  margin: 2px 0;
}

.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav > ul > li:last-child > a,
.mkdf-mobile-header .mkdf-mobile-side-area .mkdf-mobile-nav > .mkdf-grid > ul > li:last-child > a {
  border-bottom: none;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.mkdf-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.mkdf-sticky-header .mkdf-grid {
  height: 100% !important;
}

.mkdf-sticky-header.header-appear {
  transform: translateY(0%);
}

.mkdf-sticky-header .mkdf-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid #e9ebec;
  box-sizing: border-box;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-logo-wrapper a {
  max-height: 70px;
}

.admin-bar .mkdf-sticky-header.header-appear {
  top: 32px;
}

.mkdf-sticky-header .mkdf-position-center-inner,
.mkdf-sticky-header .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-right {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-sticky-header .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background: transparent;
  border: 0;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.mkdf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 40px;
  color: #fff;
  font-size: 11px;
  line-height: 1;
  background-color: #252b33;
  z-index: 111;
}

.mkdf-top-bar > .mkdf-vertical-align-containers {
  padding: 0 60px;
}

.mkdf-top-bar .mkdf-grid {
  height: 100%;
}

.mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.mkdf-top-bar-in-grid-padding .mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0 60px;
}

.mkdf-top-bar .mkdf-search-opener {
  font-size: 15px;
}

.mkdf-top-bar .widget {
  margin: 0;
  background-color: transparent;
  border: 0;
}

.mkdf-top-bar .widget a {
  color: #fff;
  font-size: 13px;
  letter-spacing: -0.02em;
}

.mkdf-top-bar .widget a:hover {
  color: #ff3366;
}

.mkdf-top-bar .mkdf-icon-widget-holder .mkdf-icon-element {
  margin: 2px 0 0;
}

.mkdf-dark-header .mkdf-top-bar a {
  color: #333;
}

.mkdf-dark-header .mkdf-top-bar a:hover {
  color: #ff3366;
}

.mkdf-dark-header .mkdf-top-bar .widget a {
  color: #333;
}

.mkdf-dark-header .mkdf-top-bar .widget a:hover {
  color: #ff3366;
}

.mkdf-top-light-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel .lang_sel_sel:after,
.mkdf-top-light-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel_click .lang_sel_sel:after {
  color: #fff;
}

.mkdf-top-light-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel ul ul,
.mkdf-top-light-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel_click ul ul {
  background-color: #333;
}

.mkdf-top-light-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel_click ul li a {
  color: #fff;
}

.mkdf-top-light-header .mkdf-top-bar .mkdf-vertical-align-containers a {
  color: #fff !important;
}

.mkdf-top-light-header .mkdf-top-bar .mkdf-vertical-align-containers a:hover {
  color: #ff3366 !important;
}

.mkdf-top-light-header .mkdf-top-bar .mkdf-vertical-align-containers .widget ul li a {
  color: #fff;
}

.mkdf-top-light-header .mkdf-top-bar .mkdf-vertical-align-containers .widget ul li a:hover {
  color: #ff3366;
}

.mkdf-top-dark-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel .lang_sel_sel:after,
.mkdf-top-dark-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel_click .lang_sel_sel:after {
  color: #333;
}

.mkdf-top-dark-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel ul ul,
.mkdf-top-dark-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel_click ul ul {
  background-color: #fff;
}

.mkdf-top-dark-header .mkdf-top-bar .mkdf-vertical-align-containers .widget_icl_lang_sel_widget #lang_sel_click ul li a {
  color: #333;
}

.mkdf-top-dark-header .mkdf-top-bar .mkdf-vertical-align-containers a {
  color: #333 !important;
}

.mkdf-top-dark-header .mkdf-top-bar .mkdf-vertical-align-containers a:hover {
  color: #ff3366 !important;
}

.mkdf-top-dark-header .mkdf-top-bar .mkdf-vertical-align-containers .widget ul li a {
  color: #333;
}

.mkdf-top-dark-header .mkdf-top-bar .mkdf-vertical-align-containers .widget ul li a:hover {
  color: #ff3366;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/header-map.css.map */
